<div class="container" [ngClass]="{'loading': !data.confirmed.value}" *ngIf="!data.confirmed.value">
    <mat-spinner></mat-spinner>
</div>
<div class="container" [ngClass]="{'dark': darkMode}">
    <mat-slide-toggle (click)="toggleDarkMode()" *ngIf="data.confirmed.value">Dark theme</mat-slide-toggle>
    <app-card [darkTheme]="darkMode"></app-card>
    <app-country-picker [darkTheme]="darkMode"></app-country-picker>
    <app-chart></app-chart>
    <div class="footer" [ngClass]="{'dark-footer': darkMode}">Made with <span> &hearts; </span> by Kishan</div>
</div>
